@model Category
@{
    ViewData["Title"] = "Crear Una Categoria";
}
<div class="pagetitle">
    <h1>Categorias</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">DashBoard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Categorias</a></li>
            <li class="breadcrumb-item active">Nueva Categoria</li>
        </ol>
    </nav>
</div>
<section class="category dashboard">
    <div class="card">
        <div class="card-body">
            <h5 class="m-2 font-weight-bold col-md-11" style="font-family: 'Roboto', sans-serif; color: #000000; font-style: italic; padding: 10px">Nueva Categoria</h5>
            <!-- Floating Labels Form -->


            <form class="row g-3" asp-action="Create" method="POST">


                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="CategoryName" class="form-control" id="floatingName" placeholder="@Html.DisplayFor(model => model.CategoryName)">
                        <label asp-for="CategoryName"></label>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Description" class="form-control" id="floatingName" placeholder="@Html.DisplayFor(model => model.Description)">
                        <label asp-for="Description"></label>
                        
                    </div>
                </div>


                <div class="row mb-3" >
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <input asp-for="Trending" class="form-check-input" style="background-color: red; border-color: black;" type="checkbox" id="gridCheck1" type="checkbox" id="gridCheck1">
                            <label asp-for="Trending" class="form-check-label" for="gridCheck1">
                             
                                En tendencia
                            </label>
                        </div>
                    </div>
                </div>



                <div>
                    <label asp-for="AgeGroup" class="form-label">Edad Dirijida</label>
                    <input asp-for="AgeGroup" type="range" class="form-range" id="customRange1" >
                </div>



                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: red; border-color: white">Guardar</button>
                    <a asp-action="Index" class="btn btn-secondary" style="background-color: black; border-color: black; color: white;">Volver</a>
                </div>
            </form><!-- End floating Labels Form -->
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}