@model BarberShopRoleDTO
@{
    ViewData["Title"] = "Nuevo Rol";
}

<div class="pagetitle">
    <h1>Nuevo Rol</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index">Roles</a></li>
            <li class="breadcrumb-item active">Nuevo Rol</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

    @* Rol *@
    <div class="card">
        <div class="card-body">
            <h3 class="m-2 font-weight-bold col-md-11" style="font-family: 'Roboto', sans-serif; color: #000000; font-style: italic; padding: 10px">Nuevo Rol</h3>


            <form class="row g-3" asp-action="Create" method="POST" id="frmCreate">

                <partial name="_Role" />

            </form>

        </div>
    </div>

    @* Permisos *@
    <partial name="_Permissions" />


    <div class="text-center">
        <button type="submit" class="btn btn-primary" form="frmCreate" id="btnCreate" style="background-color: red; border-color: white">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary" style="background-color: black; border-color: black; color: white;">Volver</a>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#btnCreate').click(function (event) {
                const permissions = $('.permission:checked');
                let permissionIds = [];
                permissions.each(function () {

                    const permissionId = $(this).data('permission-id');
                    permissionIds.push(permissionId); 
                });
                $('#permissionIds').val(JSON.stringify(permissionIds))
            });
        });
    </script>   
}