
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!--Aqui se agregan los elementos del SideBar-->
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Categories" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Categorias</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Haircut" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Cortes de pelos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "" : "collapsed")"
               asp-controller="Users"
               asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Usuarios</span>
            </a>
        </li>


    </ul>

</aside>